<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.BusiSpeciesLibraryMapper">
    
    <resultMap type="BusiSpeciesLibrary" id="BusiSpeciesLibraryResult">
        <result property="id"    column="id"    />
        <result property="speciesName"    column="species_name"    />
        <result property="scientificName"    column="scientific_name"    />
        <result property="alias"    column="alias"    />
        <result property="protectionLevel"    column="protection_level"    />
        <result property="dietType"    column="diet_type"    />
        <result property="activityPattern"    column="activity_pattern"    />
        <result property="habitat"    column="habitat"    />
        <result property="description"    column="description"    />
        <result property="coverImage"    column="cover_image"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusiSpeciesLibraryVo">
        select id, species_name, scientific_name, alias, protection_level, diet_type, activity_pattern, habitat, description, cover_image, create_by, create_time, update_by, update_time, remark from busi_species_library
    </sql>

    <select id="selectBusiSpeciesLibraryList" parameterType="BusiSpeciesLibrary" resultMap="BusiSpeciesLibraryResult">
        <include refid="selectBusiSpeciesLibraryVo"/>
        <where>  
            <if test="speciesName != null  and speciesName != ''"> and species_name = #{speciesName}</if>
        </where>
    </select>
    
    <select id="selectBusiSpeciesLibraryById" parameterType="Long" resultMap="BusiSpeciesLibraryResult">
        <include refid="selectBusiSpeciesLibraryVo"/>
        where id = #{id}
    </select>

    <insert id="insertBusiSpeciesLibrary" parameterType="BusiSpeciesLibrary" useGeneratedKeys="true" keyProperty="id">
        insert into busi_species_library
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="speciesName != null and speciesName != ''">species_name,</if>
            <if test="scientificName != null">scientific_name,</if>
            <if test="alias != null">alias,</if>
            <if test="protectionLevel != null">protection_level,</if>
            <if test="dietType != null">diet_type,</if>
            <if test="activityPattern != null">activity_pattern,</if>
            <if test="habitat != null">habitat,</if>
            <if test="description != null">description,</if>
            <if test="coverImage != null">cover_image,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="speciesName != null and speciesName != ''">#{speciesName},</if>
            <if test="scientificName != null">#{scientificName},</if>
            <if test="alias != null">#{alias},</if>
            <if test="protectionLevel != null">#{protectionLevel},</if>
            <if test="dietType != null">#{dietType},</if>
            <if test="activityPattern != null">#{activityPattern},</if>
            <if test="habitat != null">#{habitat},</if>
            <if test="description != null">#{description},</if>
            <if test="coverImage != null">#{coverImage},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusiSpeciesLibrary" parameterType="BusiSpeciesLibrary">
        update busi_species_library
        <trim prefix="SET" suffixOverrides=",">
            <if test="speciesName != null and speciesName != ''">species_name = #{speciesName},</if>
            <if test="scientificName != null">scientific_name = #{scientificName},</if>
            <if test="alias != null">alias = #{alias},</if>
            <if test="protectionLevel != null">protection_level = #{protectionLevel},</if>
            <if test="dietType != null">diet_type = #{dietType},</if>
            <if test="activityPattern != null">activity_pattern = #{activityPattern},</if>
            <if test="habitat != null">habitat = #{habitat},</if>
            <if test="description != null">description = #{description},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiSpeciesLibraryById" parameterType="Long">
        delete from busi_species_library where id = #{id}
    </delete>

    <delete id="deleteBusiSpeciesLibraryByIds" parameterType="String">
        delete from busi_species_library where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>